body {
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  font-family: 'Spectral', serif;

}

.header {
  background-color: #ebe5e5;
  border: 0;
  padding: 0;
  align-content: center;
  }

h1 {
  color: #470757;
  font-family: Cambria, Georgia, serif;
  font-size: 60px;
  border: 0;
  padding: 0;
  margin: auto;
  font-family: 'Spectral', serif;

  }

.container1 {
  display: flex;
  flex-direction: column;
}

.box1 {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.box2 {
  flex: 1;
  align-items: center;
}

#introduction {
  color: #010314;
  text-align: justify;
  text-justify: inter-word;
}

h4 {
  color: #010314;
}

ol {
  color: #010314;
}

#start {
  background-color: #0a970a;
  color: #ffff;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  width: 175px;
  border-radius: 10px;
}

#ctx {
  background-image: url('../images/woodsbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#GameOver{
  position: absolute;
  visibility: hidden;
  width: 900px;
  height: 600px;
  background-color: #ebe5e5;
  border-radius: 15px;
  flex-direction: column;
 }

  #GameOver h1{
    font-family: 'Spectral', serif;
    align-content: center;
    text-align: center;
    padding: 180px;
      }

  .over{
    font-size: 82px;
  }

  #restart{
    background-color: #2c41b9;
    color: #ffff;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
       }

