html {
  background-image: url('../images/background2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Cairo', sans-serif;
  }

.header {
  margin: 20px;
     }

.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


.box1 {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  visibility: visible;  
  position: absolute;
  margin-left: 650px;
}

.box2 {
  flex: 1;
  align-items: center;

}

#intro{
  background-color: #fc8f8fce;
  height: 600px;
  width: 600px;
  border-radius: 25px;

}
#introduction {
  color: #010314;
  text-align: justify;
  /* text-justify: inter-word; */
  font-size: 12pt;
  margin: 30px;
  }
h3{
  margin-left: 240px;
}
ol {
  color: #000000;
  margin: 12px;
}

#start {
  background-color: #268126;
  color: #ffff;
  font-size: 20px;
  text-transform: uppercase;
  height: 40px;
  width: 175px;
  border-radius: 10px;
  align-content: center;
  margin-left: 200px;
}

#ctx {
  background-image: url('../images/woodsbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: 560px;
 }

#GameOver{
  position: absolute;
  visibility: hidden;
  width: 940px;
  height: 600px;
  background-image: url('../images/deforestation_bw.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-left: 530px;
  margin-right: auto;
  
 }

.overtext{
  display: block;
  margin: auto;
  margin-top: 160px;
}

  #restart{
    background-color: #2c41b9;
    color: #ffff;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-left: 380px;
    margin-top: 40px;
       }

